<h1>New Event</h1>

<% if logged_in? %>
  <%= render 'form', event: @event %>
<% else %>
  <h5>Please login or sign up to create an event</h5>
     <%= link_to 'login', login_path %> |
     <%= link_to 'sign up', new_user_path %> |
     <%= link_to 'Back', events_path %>
<% end %>
